.modal {
  display: none; /* Oculta o modal por padrão */
  position: fixed; /* Fixa o modal na tela */
  z-index: 1; /* Coloca o modal acima de outros elementos */
  left: 0; /* Alinha à esquerda */
  top: 0; /* Alinha ao topo */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com transparência */
  overflow: auto; /* Adiciona uma barra de rolagem no fundo do modal */
}

/* Estilos do conteúdo do modal */
.modal-content {
  width: 35%;
  max-height: 80%; /* Definir uma altura máxima para o conteúdo */
  display: flex;
  flex-direction: column;
  padding: 30px 35px;
  background: #221b1b;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow-y: auto; /* Habilita a rolagem vertical quando necessário */
}

/* Botão de fechar o modal */
.close {
  position: absolute;
  top: 15px;
  right: 30px; /* Alinhar na direita */
  font-size: 35px;
  color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: white;
}

/* Estilos para os botões */
.btn {
  width: 100%;
  margin: 15px 0px;
  padding: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  letter-spacing: 3px;
  color: #fffffff3;
  background: #443227;
  cursor: pointer;
}

.process-form select,
.process-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #443227;
  border-radius: 8px;
  background-color: #322A25;
  color: white;
  outline: none;
}

.chain {
  padding-top: 10px;
}

textarea {
  resize: vertical;
}

fieldset {
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #443227;
  border-radius: 8px;
}

legend {
  padding: 0px 75px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 0px;
  cursor: pointer;
}

.checkbox-label input {
  opacity: 0;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-label span .custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s;
  margin-right: 5px;
}

.checkbox-label input:checked + span .custom-checkbox {
  background-color: #ffae42;
  /* Cor de fundo quando marcada */
}

/* Botões */
.Create-btn {
  width: 100%;
  padding: 15px;
  background-color: #443227;
  color: #fffffff3;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background 0.3s;
}

.Create-btn:hover {
  background-color: #ffae42;
}

.error {
  color: #ff4c4c;
  margin-top: 10px;
  text-align: center;
}

label input[type="file"] {
  display: none;
}

.upload-btn {
  background-color: #443227;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #ffae42;
}


.diagram-button{
  margin-top: 10px;
  margin-bottom: 30px;
}

.document-button{
  margin-top: 30px;
  margin-bottom: 30px;
}

/* /Titulo das tabelas/ */
.tabela h2{
  padding: 20px 0px;
  text-align: center;
}

/* Contêiner da tabela com cabeçalhos fixos */
.table-container {
  width: 60%; /* Largura total da tabela */
  overflow: hidden; /* Evita que os cabeçalhos sejam roláveis */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); /* Sombra para a tabela */
  margin: 0 auto; /* Centraliza a tabela na página */
}

.table-container table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Remove o espaçamento entre as bordas das células */
  background-color: #322A25; /* Cor de fundo */
  color: white; /* Cor do texto */
}

.table-container thead th {
  background-color: #443227; /* Cor de fundo dos cabeçalhos */
  color: #E8E5E0; /* Cor do texto dos cabeçalhos */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-weight: bold; /* Texto em negrito */
  letter-spacing: 1px; /* Espaçamento entre letras */
  padding: 12px 40px; /* Espaçamento interno das células */
  text-align: center; /* Alinhamento centralizado */
  border-bottom: 1px solid #443227; /* Linha de separação */
}

.table-body-scroll {
  max-height: 300px; /* Altura máxima para o corpo da tabela */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical */
}

.table-body-scroll table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Remove o espaçamento entre as bordas das células */
}

.table-body-scroll td {
  padding: 12px 15px; /* Espaçamento interno das células */
  text-align: center; /* Alinhamento centralizado */
  border-bottom: 1px solid #443227; /* Linha de separação */
}

/* Estilo para as linhas do corpo da tabela */
.table-body-scroll tr:nth-child(odd) {
  background-color: #2A2521; /* Cor de fundo para linhas ímpares */
}

.table-body-scroll tr:nth-child(even) {
  background-color: #221b1b; /* Cor de fundo para linhas pares */
}

.table-body-scroll tr:hover {
  background-color: #3B322D; /* Cor de fundo ao passar o mouse */
}

/* Contêiner da tabela com cabeçalhos fixos */
.table-container2 {
  width: 60%; /* Largura total da tabela */
  overflow: hidden; /* Evita que os cabeçalhos sejam roláveis */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2); /* Sombra para a tabela */
  margin: 0 auto; /* Centraliza a tabela na página */
}

.table-container2 table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Remove o espaçamento entre as bordas das células */
  background-color: #322A25; /* Cor de fundo */
  color: white; /* Cor do texto */
}

.table-container2 thead th {
  background-color: #443227; /* Cor de fundo dos cabeçalhos */
  color: #E8E5E0; /* Cor do texto dos cabeçalhos */
  text-transform: uppercase; /* Texto em maiúsculas */
  font-weight: bold; /* Texto em negrito */
  letter-spacing: 1px; /* Espaçamento entre letras */
  padding: 12px 86px; /* Espaçamento interno das células */
  text-align: center; /* Alinhamento centralizado */
  border-bottom: 1px solid #443227; /* Linha de separação */
}

.table-body {
  max-height: 300px; /* Altura máxima para o corpo da tabela */
  overflow-y: auto; /* Adiciona a barra de rolagem vertical */
}

.table-body table {
  width: 100%; /* Largura total da tabela */
  border-collapse: collapse; /* Remove o espaçamento entre as bordas das células */
}

.table-body td {
  padding: 12px 130px; /* Espaçamento interno das células */
  text-align: left; /* Alinhamento centralizado */
  border-bottom: 1px solid #443227; /* Linha de separação */
}

/* Estilo para as linhas do corpo da tabela */
.table-body tr:nth-child(odd) {
  background-color: #2A2521; /* Cor de fundo para linhas ímpares */
}

.table-body tr:nth-child(even) {
  background-color: #221b1b; /* Cor de fundo para linhas pares */
}

.table-body tr:hover {
  background-color: #3B322D; /* Cor de fundo ao passar o mouse */
}